/* elements */

body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

/* classes */

.hidden {
  display: none;
}

.instructions {
  font-weight: bold;
}

.result-description {
  color: black;
}

/* IDs */

#ruby {
  color: red;
}

#python {
  color: green;
}

#javascript {
  color: yellow;
}